{% extends 'base.html' %}
{% block title %}
     Home Page
{% endblock %}


{% block content %}
 <!DOCTYPE html>
   <html>
     <head>
         <title>1st project</title>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
         <link rel="stylesheet" href="style.css\style .css">
     </head>
     <body>
      <img src= "https://lh3.googleusercontent.com/EPdEPR_O9NUR45oKk2xFY76A9RTKyU-fJNzZKbM55R8cZ3TUGNMMu367TM1p9loA3NXiMOe9bn7zewGvcD19JPuzxaO4nUC1nkfM36o9KP00_08G5j4h1XGTk5eWTjFL8Lha9BQp=w2400?source=screenshot.guru" width="100%"; height="550px">
     
         




      <center style="padding: 60px;">
        <h2>TEMPO WILL HELP YOU IN</h2>
      </center>

   <div class="card-deck" style="height: 10%;">
     <div class="card" style="height:450px;">
       <img src="https://img.dentistryiq.com/files/base/ebm/diq/image/2015/12/time_management_dreamstime.png?auto=format&w=720" height="200px" class="card-img-bottom" alt="...">
       <div class="card-body">
         <h5 style="color:black;">KEEP A TRACK</h5>
         <p style="color:black;">Tracking time regularly and maintaining accurate records keeps you on track to accomplish your goals </p>
       </div>
     </div>
     <div class="card" style="height:450px;">
       <img src="https://previews.123rf.com/images/netsay/netsay1602/netsay160226115/52601055-man-hand-writing-time-to-focus-with-marker-on-transparent-wipe-board-isolated-on-white-business-inte.jpg"  height="200px" alt="...">
       <div class="card-body">
         <h5 style="color:black;">FOCUS ON YOUR ACTIVITY</h5>
         <p style="color:black;">Maintaining activity logs is essential if you are charging by the hour.This helps you record time against a specific client.</p>
       </div>
     </div>
     <div class="card" style="height:450px;">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6JugK-0TtRGL-ahHK_gHH41hqzCDeI0rr08tZlMiXcGryhltvF6QXyf7kZfn5NTMM4Z4&usqp=CAU" height="200px"  class="card-img-bottom" alt="...">
       <div class="card-body">
         <h5 style="color:black;">IDENTIFY UNFRUITFUL TIME </h5>
         <p style="color:black;">It helps you identify and eliminate low-value tasks on which you may be wasting time</p>
         
     </div>
   </div>

   <div class="card" style="height:450px;">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQdD0wxm2QW0llGoCGFCf6CqrQEyHJWryyww&usqp=CAU" height="200px" class="card-img-bottom" alt="...">
       <div class="card-body">
         <h5 style="color:black;">CREATE SCHEDULE</h5>
         <p style="color:black;">Helps you avoid procrastination and create a schedule to complete work on time</p>
        
       </div>
     </div>
     <div class="card" style="height:450px;" >
       <img src="http://wisdomspringstraining.com/wp-content/uploads/2018/09/get-with-goals.jpg" height="200px" class="card-img-bottom" alt="...">
       <div class="card-body">
         <h5 style="color:black;">ACHIEVE GOALS</h5>
         <p style="color:black;"> Analyzing how effective these resources are being in achieving the desired business goals.</p>
        
       </div>
     </div>
     </div>
     <div id="rectangle"></div>
     
     <div id="carouselExampleSlidesOnly" style="height:550px;" class="carousel slide" data-ride="carousel"  data-interval="3000" >
       <div class="carousel-inner" >
         <div class="carousel-item active" style="height:550px;">
             <img src="https://images.pexels.com/photos/39396/hourglass-time-hours-sand-39396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  style="height:550px; padding:40px 50px 50px 30px " class="d-block w-100" data-interval="3000">
         </div>
         <div class="carousel-item" style="height:550px;" >
           <img src="https://images.pexels.com/photos/359989/pexels-photo-359989.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  style="height:550px; padding:40px 50px 50px 30px" class="d-block w-100" data-interval="3000" >
         </div>
         <div class="carousel-item" style="height:550px;" >
          <img src="https://images.pexels.com/photos/3243/pen-calendar-to-do-checklist.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  style="height:550px; padding:40px 50px 50px 30px" class="d-block w-100" >
        </div>
         <div class="carousel-item" style="height:550px;" >
          <img src="https://images.pexels.com/photos/859895/pexels-photo-859895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  style="height:550px; padding:40px 50px 50px 30px" class="d-block w-100" data-interval="3000">
        </div>
        <div class="carousel-item" style="height:550px;" >
          <img src="https://images.pexels.com/photos/262438/pexels-photo-262438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  style="height:550px; padding:40px 50px 50px 30px" class="d-block w-100" data-interval="3000">
        </div>
        <div class="carousel-item" style="height:550px;" >
          <img src="https://image.freepik.com/free-photo/rendering-illustration-priority-word-with-clock-chalkboard_165073-1218.jpg"  style="height:550px; padding:30px 50px 50px 30px" class="d-block w-100" data-interval="3000">
        </div>
        <div class="carousel-item" style="height:550px;" >
          <img src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  style="height:550px; padding:30px 50px 50px 30px" class="d-block w-100" >
        </div>
        <div class="carousel-item" style="height:550px;" >
          <img src="https://thumbs.dreamstime.com/b/d-people-business-meeting-conference-plan-table-illustration-sitting-around-word-discussing-human-person-48609749.jpg"  style="height:550px; padding:30px 50px 50px 30px" class="d-block w-100" >
        </div>
        <div class="carousel-item" style="height:550px;">
          <img src="https://images.pexels.com/photos/6456220/pexels-photo-6456220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"   style="height:550px; padding:30px 50px 50px 30px" class="d-block w-100" data-interval="3000">
        </div>
       </div>
     </div>






     <div class="row">
     <div class="col-sm-6">
     <div class="heading" style="padding: 0px 0px 0px 15px;">
       <h2>Our Vision</h2></div>
       <div class="line">
       <hr style="width:50%;text-align:left;margin-left:10px"></div>
       <div class="heading-body" style= "padding:0px 0px 15px 15px " >
         <h6>TEMPO, allows you to stay on top of the working process, offering insights into the jobs being completed and their duration. Additionally, you start to understand which activities are being constantly put on the back burner and start prioritizing work better.</h6>
       </div>
     </div>
     <div class="col-sm-6">
       <div class="heading-2">
         <h2>Our Mission</h2></div>
         <div class="line">
         <hr style="width:50%;text-align:left;margin-left:10px"></div>
         <div class="heading-body-2"  style= "padding:0px 15px 15px 0px ">
           <h6>TEMPO, our mission is to optimise the way we use our time at work to meet our objectives – personal, project-related or business-oriented – without losing track and in an efficient way.

            In other words, Value your time.
            
            </h6>
         </div>
       </div>
       </div>
       <div>
        <div class="d-grid gap-2 col-6 mx-auto"  >
          <button class="btn btn-primary"  style="width: 100%; padding:20px; color:rgb(0, 0, 0) " type="button"><a href="{{ url_for('contact_page')}}" style="color: black;">CONTACT US</a> </button>
        </div>
       </div>


    
    
    
    
    </body>
{% endblock%}